.addUsers {
height: 100vh;
  padding: 0px;
  margin: 0; /* Ajoutez cette ligne pour supprimer toute marge externe */
  width: 100%; 
  border: 0px solid #ccc;
  background-color: #f9f9f9;
 overflow: auto; /* ici a voir quoi faire*/
}

/*=====================================================================================*/
 .header-Users{
 
  border-bottom: 1px solid #ccc;
/* height: 20%;*/
  width: 100%;
/*  padding:1em ;*/
  display: block;
  justify-content: center;
  align-items: center;
 }

.navigation-user {
  width: 100%;
  
  color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.navigation-user ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.navigation-user ul li {
  display: inline;
  height: 100%;
  margin: 0px 5px 0px 5px;
 
  padding: 10px 30px 10px 30px;
  
  cursor: pointer;
   
}

.navigation-user ul li:hover {
  height: 100%;
  color: #d11717;

}


.active-type-user{
  border-radius: 1em;
  color: #15af90;
  text-decoration: underline;
  font-weight: bold;
}


.active-type-user:hover{
  color: #15af90 !important;
}


/*=====================================================================================*/

.addUsers h1 {
  text-align: center;
  margin-bottom: 20px;
}


/*=====================================================================================*/


.addUsers table {
  
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
}



.addUsers th {
  resize: horizontal; 
  overflow: auto;
 white-space: nowrap;
  min-width: 30px;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: #e7e7e7;
}



.addUsers td{

  min-width: 30px;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}



.addUsers tr:nth-child(even) {
  background-color: #f2f2f2;
}



/*=====================================================================================*/





.addButton{
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 1em;
}