/* Container for the list of email templates */

.page-email{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}


.head-envoi-email {
  height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #ffffff; /* Darker background to highlight the header */
   /* padding: 10px;*/
   margin-bottom: 20px;
  }
  
  .head-envoi-email .template-area ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    /*gap: 15px; /* Space between list items */
  }
  
  .head-envoi-email .template-area li {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center ;
    justify-content: space-between;
/*    margin: 15px 15px;*/
    padding: 10px 5px;
    background-color: #ffffff; /* Dark blue color */
   
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s; /* Add smooth transition */
  }
  
  .head-envoi-email .template-area li:hover {
    background-color: #e3e3e3; /* Green color for hover */
  /*  transform: scale(1.05); /* Slightly enlarge the element on hover */
  }
  
  .head-envoi-email .template-area li.active-status {
    background-color: #e3e3e3; /*  when active */
    border-top: 3px solid #15af90;
 
  }
  




  /* Styling for the content section */
  .content-envoi-email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3; /* Light background for content */
    padding: 30px;
    width: 100%;
    height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
   
  }
  
.content-envoi-email .textarea-email{
  
  width:70% ;
  height: 100%;
}

.content-envoi-email  .info-date{
  width: 80%;
  display: flex;
  justify-content: space-around;
}



  /* Responsive adjustments */
  @media (max-width: 768px) {
    .head-envoi-email {
      flex-direction: column; /* Stack elements vertically */
    }
  
    .head-envoi-email .template-area ul {
      flex-direction: column; /* Stack list items vertically */
    }
  }
  



/* Style général pour le conteneur */
.container-email-modif {
  width: 800px;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
 
}

/* Titre principal */
.container-email-modif h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

/* Zone de texte pour l'édition de l'email */
.email-area {
  width: 100%;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: border-color 0.3s;
}

.email-area:focus {
  border-color: #15af90;
  box-shadow: 0 0 5px #00866c;
}

/* Titre secondaire pour l'affichage formaté */
.container-email-modif h2 {
  font-size: 20px;
  margin-top: 20px;
  color: #000000;
}

/* Contenu formaté */
.formatted-content {
  max-height: 300px;
  background-color: #fff;
  font-size: 16px;
  color: #1b1b1b;
  word-wrap: break-word;
  overflow: auto;
}

/* Ajout de style pour un rendu agréable dans la vue formatée */
.formatted-content p {
  margin: 0 0 10px;
}

.formatted-content a {
  color: #007bff;
  text-decoration: none;
}

.formatted-content a:hover {
  text-decoration: underline;
}













/*!NOUVEAU STYLE*/







.page-email-main{
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}



.cards-container {
  position: relative;
width: 100%;
min-height: fit-content;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
justify-items: center; 
align-items: center;
gap: 20px;
padding: 20px;
background-color: #f8f9fa;
}

.modifier-template{
  background-color: #007bff;
}




