
.head-affiche-projet-etu{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
} 
  
.titre-etat-projet-etu{
    width: 100%;
    padding: 30px;
}


.table-etat-projet-etu{
        width: 85%;
    /*    min-width: 800px;*/
        height: fit-content;
        max-height: 400px;
     
        overflow: auto;
}