.choisir-projet-etu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 20px;
overflow-y: auto;
overflow-x: hidden;
}

.choisir-projet-etu h1 {
  text-align: center;
  margin-bottom: 20px;
}


.projet-list-etu{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}


.projet-list-etu .titre-tab-choix-etu{
 padding:30px;
}


.projet-list-etu .tab-choix-projet-etu{
     width: 85%;
  /*    min-width: 800px;*/
      height: fit-content;
      max-height: 400px;
   
      overflow: auto;
  }
  
  .projet-list-etu .tab-choix-projet-etu table {
      border-collapse: collapse;
      width: 100%;
  }

.choisir-projet-etu select:disabled {
  background-color: #f1f1f1;
  cursor: not-allowed;
}




