/* General container styling */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    /* background-color: #f9f9f9; */ /* Removed background color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Title styling */
  .title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Form layout */
  .form {
    display: flex;
    flex-direction: column;
  }
  
  /* Field styling */
  .field {
    margin-bottom: 15px;
  }
  
  /* Label styling */
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  /* Input, textarea, and select styling */
  .input,
  .textarea,
  .select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  /* Textarea specific styling */
  .textarea {
    resize: vertical;
  }
  
  /* Button styling */
  /* Button styling */
.button {
  background-color: #1abc9c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; /* Ajoutez cette ligne pour l'espace entre les boutons */
}
  
  /* Button hover effect */
  .button:hover {
    background-color: #1abc9c;    /* Darker shade for hover */
  }
  
  /* Error message styling */
  .error {
    color: red;
    font-size: 12px;
  }